@import "normalize";

@import "bourbon";
@import "base/base";

#app {
    margin: 1rem;
    h1 {
    }
    form {
        label {
            display: inline-block;
            text-align: center;
            input {
                width: 5rem;
                margin: .5rem;
            }
        }
    }
    svg {
        width: 20rem;
        max-height: 20rem;
        polygon.triangle {
            fill: green;
        }
    }
}
